@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

main > p,
header,
.item {
  text-align: center;
}

.menu {
  width: 100%;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
.menu_item {
  display: flex;
}
main {
  padding: 5px;
}

main > h3 {
  text-align: center;
  margin-top: 15px;
}

.item {
  margin-top: 5px;
  padding: 5px;
}
.item > h5 {
  font-size: 1.5rem;
}
.item > p {
  margin-top: 10px;
}

footer {
  display: flex;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .menu_item {
    flex-wrap: wrap;
  }
}
